<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <context-service>
    <name>java:global/concurrent/ContextD</name>
    <cleared>IntContext</cleared>
    <propagated>Application</propagated>
    <propagated>StringContext</propagated>
    <unchanged>Transaction</unchanged>
  </context-service>

  <managed-executor>
    <name>java:app/concurrent/ExecutorD</name>
    <context-service-ref>java:global/concurrent/ContextD</context-service-ref>
    <max-async>3</max-async>
  </managed-executor>

  <managed-scheduled-executor>
    <name>java:global/concurrent/ScheduledExecutorD</name>
    <context-service-ref>java:global/concurrent/ContextD</context-service-ref>
    <max-async>2</max-async>
    <hung-task-threshold>200000</hung-task-threshold>
  </managed-scheduled-executor>

  <managed-thread-factory>
    <name>java:app/concurrent/ThreadFactoryD</name>
    <context-service-ref>java:global/concurrent/ContextD</context-service-ref>
    <priority>6</priority>
  </managed-thread-factory>
</web-app>