<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2022 Contributors to the Eclipse Foundation
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.
    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.
    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0
-->

<web-app 
	version="6.0" 
	xmlns="https://jakarta.ee/xml/ns/jakartaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

  <context-service>
    <name>java:global/concurrent/ContextD</name>
    <cleared>IntContext</cleared>
    <propagated>Application</propagated>
    <propagated>StringContext</propagated>
    <unchanged>Transaction</unchanged>
  </context-service>

  <managed-executor>
    <name>java:app/concurrent/ExecutorD</name>
    <context-service-ref>java:global/concurrent/ContextD</context-service-ref>
    <max-async>3</max-async>
  </managed-executor>

  <managed-scheduled-executor>
    <name>java:global/concurrent/ScheduledExecutorD</name>
    <context-service-ref>java:global/concurrent/ContextD</context-service-ref>
    <max-async>2</max-async>
    <hung-task-threshold>200000</hung-task-threshold>
  </managed-scheduled-executor>

  <managed-thread-factory>
    <name>java:app/concurrent/ThreadFactoryD</name>
    <context-service-ref>java:global/concurrent/ContextD</context-service-ref>
    <priority>6</priority>
  </managed-thread-factory>

</web-app>