# This workflow automates the creation of Specification Documents
# which will be copied into https://github.com/jakartaee/specifications

name: Generate specification documentation

on: 
    workflow_dispatch:
        inputs:
            specVersion:
                description: 'Major and Minor level of release. Example: 3.1'
                required: true
            specStatus:
                type: choice
                description: 'Status of the specification.'
                required: true
                default: 'DRAFT'
                options:
                  - DRAFT
                  - FINAL


jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up JDK 21
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: 21
        distribution: 'temurin'
        cache: maven
    - name: Generate specification docs
      run: |
        mvn package --file api/pom.xml           -Dstatus=${{ github.event.inputs.specStatus }} -Dspec.version=${{ github.event.inputs.specVersion }}
        mvn package --file specification/pom.xml -Dstatus=${{ github.event.inputs.specStatus }} -Dspec.version=${{ github.event.inputs.specVersion }}
    - name: Assemble documentation
      run: |
        mkdir documentation/
        cp specification/target/generated-docs/jakarta-concurrency-spec-${{ github.event.inputs.specVersion }}.pdf   documentation/jakarta-concurrency-spec-${{ github.event.inputs.specVersion }}.pdf
        cp specification/target/generated-docs/jakarta-concurrency-spec-${{ github.event.inputs.specVersion }}.html  documentation/jakarta-concurrency-spec-${{ github.event.inputs.specVersion }}.html
        cp -r api/target/reports/apidocs/ documentation/apidocs
    - name: Upload documentation
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: Specification Documentation
        path: documentation/
        if-no-files-found: error
